@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$text-family-base: "PT Sans";
$color-primary: #42567A;
$color-blue: #5D5FEF;
$color-red: #EF5DA8;
$color-year: #3877EE;
$background: #F4F5F9;


body {
    margin: 0;
    font-family: $text-family-base;
    color: $color-primary;
    background-color: $background;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

